[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.9.14"

[packages]
slack-bolt = "*"
notion-client = "*"

[dev-packages]
pytest-mock = "*"
colorama = "*"
coloredlogs = "*"
requests = "*"
black = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
jupyter = "*"
rich = "*"
inquirer = "*"
click = "*"
boto3 = "*"
invoke = "*"
devtools = {editable = true, path = "./devtools"}
