[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.9"

[packages]
slack-bolt = "*"
notion-client = "*"
certifi = {editable = true, path = "."}
wrapt = {editable = true, path = "."}

[dev-packages]
pytest-mock = "*"
colorama = "*"
coloredlogs = "*"
requests = "*"
black = "==20.8b1"
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
jupyter = "*"
rich = "*"
inquirer = "*"
click = "*"
boto3 = "*"
